{% extends "base.html" %} {% block content %}
<div class="container has-text-centered">
  <h2 class="title is-2" align="center">Deportistas</h2>
  <div class="container">
    <div class="row">
      {% for deportista in deportistas_list %}
      <div class="col-sm">
        {% if deportista.image == None %}
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            alt="Card image cap"
            src="{{deportista.foto}}"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ deportista.nombre }} {{ deportista.apellido }}
            </h5>
            <p class="card-text">{{ deportista.peso }}</p>
            <a href="#" class="btn btn-primary">Mas información</a>
          </div>
        </div>
        {% else %}
        <div class="card" style="width: 300px">
          <img
            class="card-img-top"
            alt="Card image cap"
            style="height: 300px"
            src="/{{ deportista.image }}"
          />
          <div class="card-body">
            <h5 class="card-title">
              {{ deportista.nombre }} {{ deportista.apellido }}
            </h5>
            <div class="container">
              <div class="row">
                {% for participacion in participaciones_list %}
                {% if participacion.deportista.id == deportista.id %}
                <div class="col-sm">
                  <img
                    class="card-img-bottom"
                    alt="Card image cap"
                    style="height: 50px; width: 50px"
                    src="{{ participacion.deporte.icono }}"
                  />
                  <p class="card-text">{{ participacion.deporte.nombre }}</p>
                </div>
                {% endif %} {% endfor %}
              </div>
            </div>
            <a href="#" class="button is-info">Mas información</a>
          </div>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
