<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="/static/css/bulma.css" rel="stylesheet" />
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <section class="hero is-fullheight is-dark">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end">
                <a
                  href="{% url 'deportista:deportistas' %}"
                  class="navbar-item"
                >
                  Inicio
                </a>
                <a href="{% url 'deportista:loginUser' %}" class="navbar-item">
                  Login
                </a>
                <a
                  href="{% url 'deportista:registrarUsuario' %}"
                  class="navbar-item"
                >
                  Sign Up
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container has-text-centered">
        <!--






        Lo de adentro de este div es lo que toca modificar




        
        -->
          <h3 align="center">Deportistas</h3>
          <div class="container">
            <div class="row">
              {% for deportista in deportistas_list %}
              <div class="col-sm">
                {% if deportista.image == None %}

                <div class="card" style="width: 18rem">
                  <img
                    class="card-img-top"
                    alt="Card image cap"
                    src="{{deportista.foto}}"
                  />
                  <div class="card-body">
                    <h5 class="card-title">
                      {{ deportista.nombre }} {{ deportista.apellido }}
                    </h5>
                    <p class="card-text">{{ deportista.peso }}</p>
                    <a href="#" class="btn btn-primary">Mas información</a>
                  </div>
                </div>
                {% else %}
                <div class="card" style="width: 300px">
                  <img
                    class="card-img-top"
                    alt="Card image cap"
                    style="height: 300px"
                    src="/{{ deportista.image }}"
                  />
                  <div class="card-body">
                    <h5 class="card-title">
                      {{ deportista.nombre }} {{ deportista.apellido }}
                    </h5>
                    <div class="container">
                      <div class="row">
                        {% for participacion in participaciones_list %}
                            {% if participacion.deportista.id == deportista.id %}
                        <div class="col-sm">
                          <img
                            class="card-img-bottom"
                            alt="Card image cap"
                            style="height: 50px; width: 50px"
                            src="{{ participacion.deporte.icono }}"
                          />
                          <p class="card-text">
                            {{ participacion.deporte.nombre }}
                          </p>
                        </div>
                        {% endif %} {% endfor %}
                      </div>
                    </div>
                    <a href="#" class="btn btn-primary">Mas información</a>
                  </div>
                </div>
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
