{% extends "base.html" %} {% block content %}
<div class="container has-text-centered">
  <div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box is-dark">
      <form method="post" action="" onsubmit="return sendForm();">
        <div class="field">
          <div class="control">
            <input
              class="input is-medium"
              type="text"
              id="username"
              name="username"
              placeholder="Usuario"
              required
            />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input
              class="input is-medium"
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
        </div>
        <div class="columns">
          <div class="column is-half">
            <input
              class="is-fullwidth button is-block is-info is-large"
              id="send"
              name="send"
              type="submit"
              value="login"
            />
          </div>
          <div class="column is-half">
            <a
              class="is-fullwidth button is-block is-danger is-large"
              href="http://127.0.0.1:8000/home/deportistas/"
              >Cancelar</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function sendForm() {
    $.ajax({
      type: "POST",
      url: "http://127.0.0.1:8000/home/login/",
      data: JSON.stringify({
        username: $("#username").val(),
        password: $("#password").val(),
      }),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      success: function (data) {
        if (data.message == "Ok") {
          window.location = "http://127.0.0.1:8000/home/deportistas/";
        } else {
          alert("Se presento un error en el login");
        }
      },
      failure: function (errMsg) {
        alert("Se presentó un problema al realizar el login");
      },
    });
    return false;
  }
</script>
{% endblock %}
